.about
{
    margin: 0px auto;
    width: 1000px;
}

.about__photoquote
{
    margin: 100px 0px 51px 0px;
    height: 350px;    
}

.about__photo
{
    width: 330px;
    height: 350px;
}

.photo
{
    float: left; 
    overflow: hidden;
    border-radius: 5px;
}

.images
{
    
    position: relative;
    top: -75px;
    left: -195px;
    
}

.utterance
{
    margin-left: 390px;
    padding-top: 117px;    
    background-image: url(../images/quotes.png);
    background-repeat: no-repeat;
    background-position: 0px 47px;
}

.quote
{
    width: 450px;
    color: #848484;
    font: italic 28px/42px Georgia, serif;
    margin: 2px 62px -24px 60px;
}
 

.quote__author
{
    font: 600 16px/42px "Open Sans", sans-serif;
    color: #333333;
    padding-left: 64px; 
    margin-top: 27px;
}

.likeit
{
    clear: left;
}

.authorfilm
{    
    float: left;
}

.favorites
{
    margin-bottom: 40px;
}

.favorites__title
{
    margin: 4px 0px 12px 0px;
    font: 600 24px/32px "Open Sans", sans-serif;
    color: #15a98c;
}

.favorites__list
{
    font: 19px/36px Georgia, serif;
    color: #555555;
    margin: 0;
    padding: 0px 0px 0px 21px;
}

.about__personality
{
    margin: 0;
}

.persona
{
    margin-left: 390px;
    margin-top: 0px;
}

.name
{
    font: 700 48px/42px "Open Sans", sans-serif;
    color: #333333;
    margin: -9px 0px 81px 4px;
    padding-top: 4px;
}

.name::after
{
    display: inline-block;
    content: '';
    height: 6px;
    width: 60px;
    border-radius: 3px;
    background-color: #45c3aa;
    position: relative;
    top: 39px;
    left: -215px;
}


.biography
{
    font: 19px/32px Georgia, serif;
    color: #555555;
    margin: 8px 40px 41px 0;
}

.title_hobby
{
    font: 400 36px/42px "Open Sans", sans-serif;
    color: #333333;
    margin: 0px 0px 16px -1px;
}
.hobby
{
    font: 19px/32px Georgia, serif;
    color: #555555;
    margin: 5px 50px 40px -1px;
}

.write_me
{
    font: 19px/32px Georgia, serif;
    color: #098d72; 
}

.write_me__link
{
    font: 19px/32px Georgia, serif;
    color: #098d72;
}
 
